<ion-toolbar>
  <ion-searchbar showCancelButton="focus"></ion-searchbar>

  </ion-toolbar>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Who We Are ?</ion-card-subtitle>
      <ion-card-title>IoT 4.0</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The Industrial Internet of Things (oT), which is also known as Industry 4.0 when applied to the manufacturing industry, is a concept of integrating smart manufacturing machinery, AI-powered automation, and advanced analytics to help make every worker and every factory more efficient.
    </ion-card-content>
  </ion-card>

  
<ion-card>
  <ion-img src="/assets/icon/logo.png"></ion-img>

</ion-card>

  <ion-card>
    <ion-item>
      
      <ion-icon name="server" slot="start"></ion-icon>
      <ion-label>Big Data</ion-label>
      <ion-button fill="outline" slot="end" href="https://www.youtube.com/watch?v=qaKIwoVanQI">Video</ion-button>
    </ion-item>
  
    <ion-card-content>
      IoT in Big Data analytics helps businesses to extract information to get better business insights. Better business insights help in taking better decisions that result in high ROI. 
    </ion-card-content>

    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-button fill="outline" slot="end" href="https://www.youtube.com/watch?v=ko_kqJL2I6Q">Video</ion-button>
    </ion-item>
  
    <ion-card-content>
      The concept of Home Automation aims to bring the control of operating your every day home electrical appliances to the tip of your finger, thus giving user affordable lighting solutions, better energy conservation with optimum use of energy.
    </ion-card-content>


    <ion-item>
      <ion-icon name="car" slot="start"></ion-icon>
      <ion-label>Automotive Industry</ion-label>
      <ion-button fill="outline" slot="end" href="https://www.youtube.com/watch?v=fUaOBD4Ibow">Video</ion-button>
    </ion-item>
  
    <ion-card-content>
      In the automotive industry, this allows complex devices like electronics, actuators and sensors to share information with each other and other cars connected to the internet.
    </ion-card-content>

      <ion-card-content>
        <ion-icon name="person-add-outline" style="zoom: 3"></ion-icon>
        <ion-card-subtitle>COMMUNITY SECTION</ion-card-subtitle>
        We are a big community of developers in action, if you have a new idea or you are developing one, don't forget to collaborate with us, fill the blanks and send us your idea to collaborate together!
      </ion-card-content>
      <ion-button href="https://github.com/">GO</ion-button>
<br>
<br>
<br>
      <ion-card-content>
        <ion-fab vertical="center" horizontal="center" slot="fixed">
          <ion-fab-button>
            <ion-icon name="share"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button href="https://wa.me/+524494956253"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
          </ion-fab-list>
          <ion-fab-list side="start">
            <ion-fab-button  href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          </ion-fab-list>
          <ion-fab-list side="end">
            <ion-fab-button href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-card-content>
      <br>
      <br>
<link rel="stylesheet" href="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/default_thank_you.css">

