<ion-header>
  <ion-toolbar>

    <ion-title>App Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
    <ion-item>
        <ion-label>App Language</ion-label>
        <ion-select value="EN">
            <ion-select-option value="EN">ENGLISH</ion-select-option>
            <ion-select-option value="ES">SPANISH</ion-select-option>
            <ion-select-option value="ES">GERMANT</ion-select-option>
            <ion-select-option value="ES">JAPANESE</ion-select-option>
  
        </ion-select>
    </ion-item>
  <ion-card>
    <ion-img src="/assets/icon/logo.png"></ion-img>
  
  </ion-card>
    <ion-list>
        <ion-item>
            <ion-label>Notifications</ion-label>
            <ion-toggle></ion-toggle>
        </ion-item>
  
      <ion-item>
        <ion-label>Wi-Fi</ion-label>
        <ion-toggle></ion-toggle>
    </ion-item>
  
    <ion-item>
      <ion-label>Bluetooth</ion-label>
      <ion-toggle></ion-toggle>
  </ion-item>
  
        <ion-item>
          <ion-button>SHARE THIS APP</ion-button>
      </ion-item>
  
    </ion-list>

  </ion-content>
    
    
    